html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: #333;
  font-family: "OpenSans";
}

input {
  font-family: "OpenSans";
  outline: 0;
}

.swipeable-list-item {
  min-height: 72px;
}
